/* --- RESET --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- BODY --- */

body {
    font-family: "Barlow", sans-serif;
    background-color: #f3f4f6;
    height: 100vh;
    padding: 2rem;
    display: grid;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
}

/* --- FORM --- */

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 8px;
    border-radius: 6px;
}

button:hover {
    background-color: #1e40af;
}

.active {
    display: inline-block;
}

.disable {
    display: none;
}

/* CONTACTOS GUARDADOS */

.container-contactos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
}

.material-icons {
    padding-bottom: 5px;
}

.material-icons:hover {
    cursor: pointer;
}

/* --- FOOTER --- */

footer {
    margin-top: 15px;
}

footer p {
    padding: 15px;
}